In [9]:
# pandas to save as csv 
import pandas as pd # its alias is mostly called pd

data = [
    [1,"LA"],
    [2,"SF"],
    [3,"Davis"],
    [4,"Indiana"],
    [5,"Blacksburg"]
]
# DataFrame 생성 - Dataframe: table data type for Pandas
df = pd.DataFrame(data, columns=["NO","Title"])
# type(df)
df

In [ ]:

# save dataframe as csv
df.to_csv("test.csv", index=False) # save as text.csv. row num(index) will not be saved

In [13]:
# load csv file to dataframe(loading)
test_df = pd.read_csv("test.csv") #  대입하고
test_df # 호출

   NO       Title
0   1          LA
1   2          SF
2   3       Davis
3   4     Indiana
4   5  Blacksburg

In [14]:
# 행 조회 -> 행번호(index) -> DF.iloc[index]
test_df.iloc[0]

NO        1
Title    LA
Name: 0, dtype: object

In [16]:
# 열 조회 -> 컬럼명 -> DF["컬럼명"]
test_df["Title"]

0            LA
1            SF
2         Davis
3       Indiana
4    Blacksburg
Name: Title, dtype: object

In [17]:
for t in test_df["Title"]:
    print(t)

LA
SF
Davis
Indiana
Blacksburg

In [25]:
from datetime import datetime
a = datetime.now()

In [31]:
# datetime -> 원하는 일시 형식의 string으로 변환 
a.strftime("%Y-%m-%d %H:%M:%S")

'2024-03-27 11:31:13'